<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Candidate</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/shop-item.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Problem 2</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<!--
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
-->
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Different approches</h1>
        <div class="list-group">
	 <a href="{% url 'index' %}" class="list-group-item">Preprocessing</a>
          <a href="{% url 'cnn' %}" class="list-group-item">Convolution Neural net</a>
          <a href="{% url 'rnn' %}" class="list-group-item active">Recurrent neural net</a>
          <a href="{% url 'crnn' %}" class="list-group-item">Convolution-recurrent net</a>
          <a href="{% url 'work' %}" class="list-group-item">Further Work</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->


      <div class="col-lg-9">
{% load static %}
        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="{% static 'rnn.jpg' %}" alt="">

        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
          Recurrent Neural Networks <br>
            <p>.</p>
          </div>
          <div class="card-body">
            <h5 color=green">Recurrence</h5>
            <br>
            Is suited specially for sequence type data and for text language modeling. Is large used in the NLP domain with different kind of architectures.
            <br>
            <hr>
            <hr>
            <p><img src="{% static 'MRNN.png' %}" class="col-lg-12 ol-xs-12 col-md-12 col-sm-12"> </p>
            <br>
            Sorry for time constraint and for high performance needed, the model run for just 5 epochs.<br>
            RNN architecture is the most suited for processing sequences data, but it need much computation power( many epochs), and deep tuning params.
            <br>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"></p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
